[Unit]
Description=Add wheel members to additional groups

[Service]
Type=oneshot
ExecStart=/usr/libexec/fubs-os-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target
